{% load i18n %}
<div class="xblock-ams">
    <svg display="none">
        <symbol id="icon-spinner11" viewBox="0 0 32 32">
        <title>spinner11</title>
        <path d="M32 12h-12l4.485-4.485c-2.267-2.266-5.28-3.515-8.485-3.515s-6.219 1.248-8.485 3.515c-2.266 2.267-3.515 5.28-3.515 8.485s1.248 6.219 3.515 8.485c2.267 2.266 5.28 3.515 8.485 3.515s6.219-1.248 8.485-3.515c0.189-0.189 0.371-0.384 0.546-0.583l3.010 2.634c-2.933 3.349-7.239 5.464-12.041 5.464-8.837 0-16-7.163-16-16s7.163-16 16-16c4.418 0 8.418 1.791 11.313 4.687l4.687-4.687v12z"></path>
        </symbol>
    </svg>

  <div class="editor-with-buttons">
    <div class="wrapper-comp-editor">
      <section class="editor-with-tabs">

        <div class="edit-header">
          <span class="component-name"></span>
          <ul class="editor-tabs">
            <li class="inner_tab_wrap">
              <a href="#" class="tab current js-header-tab" data-tab="tab-basic">
                {% trans "Settings" %}
              </a>
            </li>
            <li class="inner_tab_wrap">
              <a href="#" class="tab js-header-tab" data-tab="tab-advanced">
                {% trans "Management" %}
              </a>
            </li>
          </ul>
        </div>

        <div class="tabs-wrapper">
          <div class="component-tab tab-basic">
            <div class="wrapper-comp-settings">
              <ul class="list-input settings-list">
                {% for field in fields %}
                  <li
                    class="field comp-setting-entry metadata_entry {% if field.is_set %}is-set{% endif %}"
                    data-field-name="{{field.name}}"
                    data-default="{% if field.type == 'boolean' %}{{ field.default|yesno:'1,0' }}{% else %}{{ field.default|default_if_none:"" }}{% endif %}"
                    data-cast="{{field.type}}"
                  >
                    <div class="wrapper-comp-setting{% if field.type == "set" %} metadata-list-enum {%endif%}">
                      <label class="label setting-label" for="xb-field-edit-{{field.name}}">{{field.display_name}}</label>

                      {% if field.type == "boolean" %}
                        <select
                          class="field-data-control"
                          id="xb-field-edit-{{field.name}}"
                        >
                          <option value="1" {% if field.value %}selected{% endif %}>
                            True {% if field.default %}&nbsp;&nbsp;&nbsp;&nbsp;(Default){% endif %}
                          </option>
                          <option value="0" {% if not field.value %}selected{% endif %}>
                            False {% if not field.default %}&nbsp;&nbsp;&nbsp;&nbsp;(Default){% endif %}
                          </option>
                        </select>
                      {% elif field.has_values %}
                        <select
                          class="field-data-control"
                          id="xb-field-edit-{{field.name}}"
                        >
                          {% for option in field.values %}
                            <option value="{{option.value}}" {% if field.value == option.value %}selected{% endif %}>
                              {{option.display_name}} {% if option.value == field.default %}&nbsp;&nbsp;&nbsp;&nbsp;(Default){% endif %}
                            </option>
                          {% endfor %}
                        </select>
                      {% elif field.type == "string" or field.type == "datepicker" %}
                        <input
                          type="text"
                          class="field-data-control"
                          id="xb-field-edit-{{field.name}}"
                          value="{{field.value|default_if_none:""}}"
                        >
                      {% elif field.type == "integer" or field.type == "float" %}
                        <input
                          type="number"
                          class="field-data-control"
                          id="xb-field-edit-{{field.name}}"
                          {% if field.step %} step="{{field.step}}" {% elif field.type == "integer" %} step=1 {% endif %}
                          {% if field.max %} max="{{field.max}}" {% endif %}
                          {% if field.min %} min="{{field.min}}" {% endif %}
                          value="{{field.value|default_if_none:""}}"
                        >
                      {% elif field.type == "text" or field.type == "html" %}
                        <textarea class="field-data-control" data-field-name="{{field.name}}" id="xb-field-edit-{{field.name}}" rows=10 cols=70>{{field.value}}</textarea>
                      {% elif field.type == 'set' and field.has_list_values %}
                        {% comment %}
                          TODO: If len(list_values) is high, show an alternate editor
                          with a select box and a growing list of selected choices
                        {% endcomment %}
                        <div class="wrapper-list-settings">
                          <ul class="list-settings list-set">
                            {% for choice in field.list_values %}
                              <li class="list-settings-item">
                                <input
                                  id="xb-field-edit-{{field.name}}-{{forloop.counter}}"
                                  type="checkbox"
                                  value="{{choice.value}}"
                                  style="width:auto;min-width:auto;height:auto;float:left;margin-top:3px;"
                                  {% if choice.value in field.value %}checked="checked"{% endif %}
                                >
                                <label for="xb-field-edit-{{field.name}}-{{forloop.counter}}" style="display:block;margin-left:1.1em;">
                                  {{choice.display_name}}
                                </label>
                              </li>
                            {% empty %}
                              <li>{% trans "None Available" %}</li>
                            {% endfor %}
                          </ul>
                        </div>
                      {% elif field.type == 'generic' or field.type == 'list' or field.type == 'set' %}
                        {# Show a textarea so we can edit it as a JSON string #}
                        <textarea class="field-data-control" data-field-name="{{field.name}}" id="xb-field-edit-{{field.name}}" rows=5 cols=70>{{field.value}}</textarea>
                      {% else %}
                        Unsupported field type. This setting cannot be edited.
                      {% endif %}

                      {% if field.allow_reset %}
                        <button class="action setting-clear {% if field.is_set %}active{%else%}inactive{% endif %}" type="button" name="setting-clear" value="{% trans "Clear" %}" data-tooltip="{% trans "Clear" %}">
                          <i class="icon fa fa-undo"></i><span class="sr">{% trans "Clear Value" %}</span>
                        </button>
                      {% endif %}
                    </div>
                    {% if field.help %}
                      <span class="tip setting-help"> {{ field.help|safe }} </span>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>

          <div class="component-tab is-inactive tab-advanced">
            {% if has_azure_config %}
            <div class="wrapper-comp-settings">
              <div class="left-side">
                <div class="section-header">{% trans 'AMS available media:' %}</div>
                <ul>
                  {% for stream_video in list_stream_videos %}
                  <li>
                    <input id="radio-stream-video-{{ forloop.counter }}"
                           type="radio" name="stream_video"
                           value="{{ stream_video.edx_video_id }}"
                    />
                    <label for="radio-stream-video-{{ forloop.counter }}">
                      <span class="media-file-name">{{ stream_video.client_video_id }}</span>
                      <div class="media-source">
                        ({{ stream_video.edx_video_id }})
                      </div>
                    </label>
                  </li>
                  <hr/>
                  {% endfor %}
                </ul>
              </div>

              <div class="right-side">
                <span class="section-header">{% trans 'Available captions/transcripts:' %}</span>
                <ul class="loader-holder js-container-captions">
                  <div class="ams-info">
                  {% blocktrans %}
                  Captions/transcripts will be fetched automatically (if any available) for the selected video.
                  {% endblocktrans %}
                  </div>
                </ul>
              </div>
            </div>
          </div>
          {% else %}
              <div class="some-message">
                  {% blocktrans %}
                  You are using AMS xBlock in basic functionality mode.
                  In order to use advanced features
                  (e.g. videos and captions/transcripts auto-fetching from Azure Media Service)
                  Azure API Auth profile for current course Organization should be configured.
                  This can be performed within OpenEdx LMS admin site.
                  {% endblocktrans %}
              </div>
          {% endif %}
        </div>
      </section>
    </div>

    <div class="xblock-actions">
      <ul>
        <li class="action-item">
          <a href="#" class="button action-primary save-button">{% trans "Save" %}</a>
        </li>

        <li class="action-item">
          <a href="#" class="button cancel-button">{% trans "Cancel" %}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
